#main-page {
    margin: 0 auto;
    max-width: none;


    display: grid;
    justify-content: center;
    grid-row-gap: 2rem;
}

/* ======= 992px ======= */
@media (min-width: 992px) {
    #main-page {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}