.arrow-container {
    margin: 2rem 0;

    cursor: pointer;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 1rem;
}

.back-arrow {
    width: 2.5rem;
    height: 2rem;

    transform: rotate(180deg);

    background-image: url('../../img/arrow_20pt_stroke.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}