#project-details {
    grid-column: 1 / span 2;
    width: calc(100vw - 4rem);
    max-width: 1000px;


    justify-self: center;
}

.back-arrow-container {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;

    cursor: pointer;
}
